.container
  .row
    .span6
      img#logo(src='./images/logo.png', alt='Circa Logo')
      a#home(href='#') Home

      #new_crush_box
        textarea#new_post_body(alt='Write Your Post Here.', name='post[content]', placeholder='Write something!')
      #feed
    .span4
      #trending

#lightpost
  img#chromebox.lightbox(src='./images/chromearrow.png', alt='lightbox text', style='display: none;')
  img#firefoxbox.lightbox(src='./images/firefoxarrow.png', alt='lightbox text', style='display: none;')
  img#safaribox.lightbox(src='./images/safariarrow.png', alt='lightbox text', style='display: none;')
  img#iebox.lightbox(src='./images/iearrow.png', alt='lightbox text', style='display: none;')
